<footer class="page-footer bg-dark text-white">

    <div class="container text-center text-md-left mt-5">
        <div class="row">
            <div class="col-md-4 mx-auto mb-4">
                <h4 class="text-uppercase font-weight-bold"><u>Developed By</u></h4>
                <p><strong>Trainee Name : </strong>Md. Shakil Ahmmed Shajol</p>
                <p><strong>Trainee ID : </strong>1253725</p>
                <p><strong>Batch : </strong>ESAD-CS/PNTL-A/42/01</p>
                <p><strong>IsDB-BISEW IT Scholarship Programme</strong></p>
            </div>
            <div class="col-md-4 mx-auto mb-4">
                <h4 class="text-uppercase font-weight-bold"><u>Technology Used</u></h4>
                <ul class="list-unstyled">
                    <li class="my-2">Angular 10</li>
                    <li class="my-2">ASP.Net Core</li>
                    <li class="my-2">Angular Material</li>
                    <li class="my-2">Bootstrap</li>
                </ul>
            </div>
            <div class="col-md-4 mx-auto mb-4">
                <h4 class="text-uppercase font-weight-bold"><u>Contact</u></h4>
                <ul class="list-unstyled">
                    <li class="my-2"><mat-icon>mail</mat-icon> shakil.bd.ngn@gmail.com</li>
                    <li class="my-2"><mat-icon>call</mat-icon> +880 1751 541295</li>
                </ul>
            </div>
        </div>
    </div>
    <div>
        <mat-toolbar color="primary" fxFlex="100">
            <span class="my-text-center">&copy; 2020 - IsDB-BISEW IT Scholarship Programme</span>
        </mat-toolbar>
    </div>
</footer>
