<h1>Apply For Addmission Test</h1>
<!-- <div>
    <mat-card>
        <mat-card-header color='primary'>
            <mat-card-title>Fill the form</mat-card-title>
        </mat-card-header>
        <form [formGroup]="form" (ngSubmit)="onSubmited()" novalidate>
            <mat-form-field>
                <select formControlName="examId" id="examId">
                    <option *ngFor="let e of exams" value={{e.examId}}>{{e.examCode}}|{{e.examId}}</option>
                </select>
            </mat-form-field>
            <mat-form-field>
                <select formControlName="standerdClassId" id="standerdClassId">
                    <option *ngFor="let s of standards" value={{s.classId}}>{{s.className}}|{{s.classId}}</option>
                </select>
            </mat-form-field>
            <mat-form-field>
                <input matInput type="text" formControlName="fullName" id="fullName" required placeholder="Full Name" />
            </mat-form-field>
            <mat-form-field>
                <input matInput type="text" formControlName="fatherName" id="fatherName" required placeholder="Father Name" />
            </mat-form-field>
            <mat-form-field>
                <input matInput type="text" formControlName="motherName" id="motherName" required placeholder="motherName" />
            </mat-form-field>
            <mat-form-field>
                <input matInput type="date" formControlName="birthDate" id="birthDate" required placeholder="Birth Date" />
            </mat-form-field>
            <mat-form-field>
                <input matInput type="text" formControlName="birthRegistrationNo" id="birthRegistrationNo" required placeholder="Birth Registration No" />
            </mat-form-field>
            <mat-form-field>
                <select formControlName="gender" id="gender">
                    <option value="1">Male</option>
                    <option value="2">Female</option>
                </select>
            </mat-form-field>
            <mat-form-field>
                <input matInput type="text" formControlName="phone" id="phone" required placeholder="Phone" />
            </mat-form-field>
            <mat-form-field>
                <input matInput type="text" formControlName="email" id="email" required placeholder="email" />
            </mat-form-field>
            <mat-form-field>
                <input matInput type="text" formControlName="previousSchool" id="previousSchool" required placeholder="Previous School" />
            </mat-form-field>
            <mat-form-field>
                <input matInput type="text" formControlName="lastPublicExamGPA" id="lastPublicExamGPA" required placeholder="lastPublicExamGPA" />
            </mat-form-field>
            <mat-form-field>
                <input matInput type="text" formControlName="address" id="address" required placeholder="address" />
            </mat-form-field>
            <mat-form-field>
                <label for="tcfile">TC of Previous School</label>
                <input type="file" id="tcfile" (change)="onFileSelected($event)">
            </mat-form-field>
            <mat-form-field>
                <label for="imagefile">Photo</label>
                <input type="file" id="imagefile" (change)="onFileSelected($event)">
            </mat-form-field>
        </form>
    </mat-card>
</div> -->
<form [formGroup]="form" (ngSubmit)="onSubmited()" novalidate>
    <input type="text" formControlName="fullName" id="fullName" required placeholder="Full Name" /><br>
    <input type="text" formControlName="fatherName" id="fatherName" required placeholder="Father Name" /><br>
    <input type="text" formControlName="motherName" id="motherName" required placeholder="motherName" /><br>
    <input type="text" formControlName="birthDate" id="birthDate" required placeholder="Birth Date" /><br>
    <input type="text" formControlName="birthRegistrationNo" id="birthRegistrationNo" required placeholder="Birth Registration No" /><br>
    <!-- <input type="text" formControlName="gender" id="gender" required placeholder="Gender" /> -->
    <select formControlName="gender" id="gender">
        <option value='1'>Male</option>
        <option value='2'>Female</option>
    </select><br>
    <input type="text" formControlName="phone" id="phone" required placeholder="Phone" /><br>
    <input type="text" formControlName="email" id="email" required placeholder="email" /><br>
    <input type="text" formControlName="previousSchool" id="previousSchool" required placeholder="Previous School" /><br>
    <input type="text" formControlName="lastPublicExamGPA" id="lastPublicExamGPA" required placeholder="lastPublicExamGPA" /><br>
    <input type="text" formControlName="address" id="address" required placeholder="address" /><br>
    <!--<input type="text" formControlName="standerdClassId" id="standerdClassId" required placeholder="standerdClassId" />
    <input type="text" formControlName="examId" id="examId" required placeholder="examId" /> -->
    <select formControlName="standerdClassId" id="standerdClassId">
        <option *ngFor="let s of standards" value={{s.classId}}>{{s.className}}|{{s.classId}}</option>
    </select><br>
    <select formControlName="examId" id="examId">
        <option *ngFor="let e of exams" value={{e.examId}}>{{e.examCode}}|{{e.examId}}</option>
    </select><br>
    <div>
        <img [src]='imageUrl' alt="photo" height="100" width="80"><br>
        <input type="file" (change)="onImageSelected($event)"><br>
    </div>
    <input type="file" (change)="onFileSelected($event)"><br>
    <button type="submit">Submit</button>
</form>